/* Background image settings */
body {
    background-image: url('/static/images/background.jpg'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure it covers the whole viewport */
    margin: 0;
    padding: 0;
}

nav a.nav-link {
    color: white;
    font-weight: bold;
}
/* Remove background and padding from container */
.container {
    background-color: transparent; /* No white background */
    padding: 0; /* Remove padding */
    height: 100vh; /* Ensures the content container is full-height */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center the text in the middle of the screen */
.text-center {
    background-color: rgba(255, 255, 255, 0.7); /* Optional: Adds a slight transparency for readability */
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: transparent;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
}
