<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice #{{ invoice.id }}</title>
    <link rel="stylesheet" href="InvoiceCSS/invoice.css">
</head>

<body>
    <div class="main">
        <table class="header">
            <tr style="border: none;">
                <td>Invoice #{{ invoice.id }}</td>
            </tr>
            <th style="text-align: center;">ROUGHLY ESTIMATE</th>

        </table>

        <div class="title">
            <section style="width: 20%; height: auto; display: flex; margin:auto">
                <img src="InvoiceCSS/logo3.png" alt="Logo">
            </section>
            <div class="title0">
                <div class="title1">
                    <h1 style="vertical-align: top;">VAISHNO JEWELLERS</h1>
                </div>
                <div class="title2">
                    <p>36/1, Ahata Aauliya, Motimahal, <br>
                        Sarafa Bazar, XXXXXXXXXXXXXXX</p>
                    <p>+91 XXXXXXXXX</p>
                </div>
            </div>
            <section style="width: 20%; height: auto; display: flex; margin:auto">
                <img src="InvoiceCSS/logo3.png" alt="Logo">
            </section>
        </div>


        <div class="details">
            <section>
                <p><strong>Name:</strong> {{ invoice.customer.name }}</p>
                <p><strong>Address:</strong> {{ invoice.customer.address }}</p>
            </section>
            <section>
                <p><strong>Contact:</strong> {{ invoice.customer.contact }}</p>
                <p><strong>Date:</strong> {{ invoice.date.strftime('%Y-%m-%d') }}</p>
            </section>
        </div>
        <div class="watermark">
            <div class="product_details">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Type</th>
                            <th>Rate/gm</th>
                            <th>Gross Wt (gm)</th>
                            <th>Net Wt (gm)</th>
                            <th>Labour/gm</th>
                            <th>Subtotal (Rs)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <br>
                        {% for item in items %}
                        <tr>
                            <td>{{ item.invoice_name }}</td>
                            <td>{{ item.product_type }}</td>
                            <td>{{ item.product_rate }}</td>
                            <td>{{ item.gross_weight }}</td>
                            <td>{{ item.net_weight }}</td>
                            <td>{{ item.labour_charges }}</td>
                            <td>{{ item.net_weight * item.product_rate + item.labour_charges * item.net_weight}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="amount">
                <h4 style="vertical-align: bottom;"><strong>Total Amount:</strong> {{ total_amount }} Rs</h4>
                {% if discount_value > 0 %}
                    <h4 style="vertical-align: bottom;"><strong>Discount Amount:</strong> {{ discount_value }} Rs</h4>
                    <h4 style="vertical-align: bottom;"><strong>Total Amount After Discount:</strong> {{total_amount_with_discount }} Rs</h4>
                {% endif %}
            </div>

            <div class="word_amount">
                {% if discount_value > 0 %}
                    <h4><strong>Total Amount in Words:</strong> {{ result }} Only</h4>
                {% else %}
                    <h4><strong>Total Amount in Words:</strong> {{ resultWithoutDisc }} Only</h4>
                {% endif %}
            </div>
        </div>



        <div class="footer">Thank You ! Visit Again.</div>
    </div>
</body>

</html>